<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .c1{
            height: 300px;
            width: 500px;
            border: 1px solid red;
            margin: 100px;
            position: relative;
        }
        .c2{
            height: 59px;
            width: 59px;
            background-color: aqua;
            position: absolute;
            right: 20px;
            bottom: 5px;
        }
    </style>
</head>
<body>
<div class="c1">
    <div class="c2">

    </div>
</div>
</body>
</html>